{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container py-4">

<!-- PROFILE HEADER -->

<div class="profile-header mb-4">

<div class="row align-items-center">

<div class="col-md-8 d-flex align-items-center">

{% if profile.profile_photo %}
<img src="{{ profile.profile_photo.url }}" class="profile-avatar">
{% else %}
<img src="{% static 'images/default-profile.png' %}" class="profile-avatar">
{% endif %}

<div class="ms-4">

<h2 class="mb-1">{{ profile.user.username }}</h2>

<p class="text-light mb-2">
{{ profile.job_role }}
</p>

<span class="badge bg-light text-dark me-2">
{{ profile.company }}
</span>

<span class="badge bg-light text-dark">
{{ profile.experience }} yrs experience
</span>

</div>

</div>

<div class="col-md-4 text-end">

<a href="/messages/{{ profile.user.id }}/" class="btn btn-light">
Message Alumni
</a>

</div>

</div>

</div>


<div class="row">

<!-- LEFT SIDE -->

<div class="col-md-8">

<div class="profile-card">

<h4>About</h4>

<p>{{ profile.bio }}</p>

</div>


<div class="profile-card">

<h4>Skills</h4>

<p>{{ profile.skills }}</p>

</div>


<div class="profile-card">

<h4>Projects</h4>

<p>{{ profile.projects }}</p>

</div>


<div class="profile-card">

<h4>Professional Experience</h4>

<p>

<b>{{ profile.job_role }}</b><br>

{{ profile.company }}<br>

{{ profile.experience }} years experience

</p>

</div>

</div>


<!-- RIGHT SIDE -->

<div class="col-md-4">

<div class="profile-card">

<h5>Contact Information</h5>

<p><b>Email:</b> {{ profile.user.email }}</p>

</div>


<div class="profile-card">

<h5>Social Links</h5>

<p>

<a href="{{ profile.linkedin }}" target="_blank">LinkedIn</a><br>

<a href="{{ profile.github }}" target="_blank">GitHub</a><br>

<a href="{{ profile.portfolio }}" target="_blank">Portfolio</a>

</p>

</div>

</div>

</div>

</div>

{% endblock %}